body {
  margin: 1.3em !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  color: #5d6870 !important;
}


/* 
#f8f8f8 : offwhite
#a5d4ef 
#f7b1b7
#a995d0
#6aeac1
#5d6870 : text color
   */
